services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
    ports:
      - 3001:3001
    depends_on:
      - db
  db:
    container_name: postgres2
    image: postgres:latest
    environment:
      - POSTGRES_USER={POSTGRES_USER}
      - POSTGRES_PASSWORD={POSTGRES_PASSWORD}
      - POSTGRES_DB={POSTGRES_DB}
    ports:
      - "5433:5433"
    restart: always
    volumes:
    - pg_data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin5
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "5051:81"
    restart: always
    volumes:
    - pgadmin:/var/lib/pgadmin

volumes:
  pg_data:
  pgadmin: