services:
  server:
    container_name: server_nonsense
    build:
      context: .
    environment:
      NODE_ENV: production
    ports:
      - 3002:3002
    depends_on:
      - db
  db:
    container_name: postgres_nonsense
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=postgres
    ports:
      - "5432:5432"
    restart: always
    volumes:
    - pg_data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin_nonsense
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=offline.stein@gmail.com
      - PGADMIN_DEFAULT_PASSWORD=mysecretpassword
    ports:
      - "5052:80"
    restart: always
    volumes:
    - pgadmin:/var/lib/pgadmin

volumes:
  pg_data:
  pgadmin: