<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookmarks</title>
</head>
<body>
    <h1>Bookmarks</h1>
    <a href="/">See Vacations</a><br>
    <a href="/users">See Users</a><br>
    <a href="/ratings">See Ratings</a><br>
    <li>See Bookmarks</li><br>
</body>