<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Forgot Password</h1>
    <ul>
        <li><a href="/" class="active">See Vacations</a></li>
        <li><a href="/ratings">See Ratings</a></li>
        <li><a href="/bookmarks">See Bookmarks</a></li>
        <li style="float:right"><a href="/users">See Users</a></li>
    </ul>
    <form action="/users/forgot-password" method="POST">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" required />
        <button type="submit">Submit</button>
    </form>
</body>