<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Spots</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Vacation Spots</h1>
    </header>
    <ul>
        <li><a href="/" class="active">See Vacations</a></li>
        <li><a href="/ratings">See Ratings</a></li>
        <li><a href="/bookmarks">See Bookmarks</a></li>
        <li style="float:right"><a href="/users">See Users</a></li>
    </ul>
    <ul>
        <% for (var i = 0; i < vacations.length; i++) { %>
            <li>
                <% if(bookmarkIDs && bookmarkIDs.has(vacations[i].id)) { %>
                    <p>This vacation is bookmarked!</p>
                <% } %>
                <h2><%= vacations[i].name %></h2>
                <p>Location: <%= vacations[i].location %></p>
                <p><%= vacations[i].description %></p>
                <a href="/vacations[i].id">View Details</a>"
            </li>
        <% } %>
    </ul>
</body>