<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/users/sign-up" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" required/>
        <label for="username">Email</label>
        <input id="email" name="email" type="text" required/>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required/>
        <button type="submit">Sign Up</button>
    </form>
    <a href="/users/log-in">Have an account? Log in instead!</a><br>
    <a href="/">See Vacations</a><br>
    <a href="/users">See Users</a><br>
    <a href="/ratings">See Ratings</a><br>
    <a href="/bookmarks">See Bookmarks</a><br>
</body>