<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
</head>
<body>
    <h1>Sign-up</h1>
    <a href="/">See Vacations</a><br>
    <a href="/users">See Users</a><br>
    <a href="/ratings">See Ratings</a><br>
    <a href="/bookmarks">See Bookmarks</a><br>
</body>