<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>View User</h1>
    <ul>
        <li><a href="/" class="active">See Vacations</a></li>
        <li><a href="/ratings">See Ratings</a></li>
        <li><a href="/bookmarks">See Bookmarks</a></li>
        <li style="float:right"><a href="/users">See Users</a></li>
    </ul>
    <% if(locals.user && user.id == viewedUser.id) { %>
        <h2>This is you, <%= viewedUser.username %>!</h2>
        <a href="/users/log-out">Log out</a><br>
    <% } else { %>
        <h2>Viewing user: <%= viewedUser.username %></h2>
        <a href="/users/log-in">Log in</a><br>
        <a href="/users/sign-up">Sign up</a><br>
    <% } %>
</body>