<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Vacation Spot</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Create Vacation Spot</h1>
    </header>
    <ul>
        <li><a href="/" class="active">See Vacations</a></li>
        <li><a href="/ratings">See Ratings</a></li>
        <li><a href="/bookmarks">See Bookmarks</a></li>
        <li style="float:right"><a href="/users">See Users</a></li>
    </ul>
    <form action="/" method="POST">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required />
        <label for="location">Location</label>
        <input id="location" name="location" type="text" required />
        <textarea id="description" name="description" rows="4" cols="50" required>Description</textarea>
        <button type="submit">Enter</button>
    </form>
</body>