<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Spots</title>
</head>
<body>
    <h1>Vacation Spots</h1>
    <li>See Vacations</li><br>
    <a href="/users">See Users</a><br>
    <a href="/ratings">See Ratings</a><br>
    <a href="/bookmarks">See Bookmarks</a><br>
</body>