<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Vacation Image</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Create Vacation Image</h1>
    </header>
    <ul>
        <li><a href="/" class="active">See Vacations</a></li>
        <li><a href="/ratings">See Ratings</a></li>
        <li><a href="/bookmarks">See Bookmarks</a></li>
        <li style="float:right"><a href="/users">See Users</a></li>
    </ul>
    <form action="/<%= id %>/image" method="POST" enctype="multipart/form-data">
        <label for="imageURL">Image URL</label>
        <input id="imageURL" name="imageURL" type="text" required />
        <label for="imageName">Image Name</label>
        <input id="imageName" name="imageName" type="text" required />
        <button type="submit">Submit Image</button>
    </form>
</body>