ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: green;
}

ul li{
    float: left;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover:not(.active){
    background-color: darkgreen;
}

ul li a.active{
    background-color: limegreen;
}